@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

$yellow: #FCDC47;

html
{
    height: 100%;
}

body 
{
    padding-top: 10%;
    height: 100%;
    width: 100%;
    background-color: $yellow;
}

#file-sender-button
{
    margin-bottom: 25px;
    margin-right: 60px;
}

.input
{
    width: 170px;
}

.inputs
{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.button-container
{
    display: flex;
    justify-content: flex-end;
}
